<div class="form-inline">
  <h4>
    ProAgil Eventos!
  </h4>
  <div class="form-group mb-2">
    <label class="mr-2">Filtro:</label> <input type="text" class="form-control mr-2" placeholder="buscar"
      [(ngModel)]="filtroLista">
  </div>
</div>
<h3>Filtro: {{filtroLista}}</h3>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>
        <button class="btn btn-outline-primary"
        (click)="alternarImagem()">
        <i class="{{mostrarImagem ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
        {{mostrarImagem ? 'Ocultar ' : 'Mostrar imagem'}}
        </button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtd Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody *ngIf="eventos && eventos.length">
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
        <img *ngIf="mostrarImagem" src="http://localhost:5000/img/{{evento.imagemURL}}"
          [style.width.px]="imagemLargura"
          [style.margin.px]="imagemMargem">

      </td>
      <td>{{evento.id}}</td>
      <td>{{evento.tema}}</td>
      <td>{{evento.local}}</td>
      <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
      <td>{{evento.qtdPessoas}}</td>
      <td>
        <!--Se não houver lotes-->
        <div *ngIf="!evento.lotes.length">
          Não Informado
        </div>
        <!--Se houver lotes-->
        <div *ngIf="evento.lotes.length">
          {{evento.lotes[0].nome | uppercase}}
        </div>
      </td>
      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
  <tfoot *ngIf="!eventos.length">
    <tr>
      <td colspan="7" class="text-center">
        <h4>
          Nenhum evento encontrado!
        </h4>
      </td>
    </tr>
  </tfoot>
</table>
